@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
body{
	font-family: 'Sawarabi Gothic', sans-serif;
}
.time{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
header{
	height : 60px;
	background: url("../image/canadian.png");
}
header-img{
	display : inline-block;
	float : left;
}
.left{
	margin-top : 24px;
	height : 70%;
	float : left;
	width : 15%;
	color : black;
	text-align : center;
	margin-bottom : 50px;
}
.time{
	font-size : 50px;
	border-bottom : 3px solid gray;
}
.center{
	width : 55%;
	margin : 0 auto;
	margin-top : 50px;
}
td.fc-sat {
    background-color: #eaf4ff;
}
td.fc-sun {
    background-color: #ffeaea;
}
.submitBtn{
	margin-left : 80px;
	font-size : 30px;
	margin-top : 40px;
	margin-bottom : 20px;
	color: black;/*文字色*/
	background: white;
	font-size :22px;
	text-align:center;
	background : white;
	border : none;
	border-left: solid 5px gray;/*左線*/
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	width : 150px;
	cursor: pointer;
	padding : 11px 30px;
}
.submitBtn:hover{
	background: gray;
}
button, input {
	font-family : inherit;
}