@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400&display=swap');
body{
	font-family: 'Sawarabi Gothic', sans-serif;
}
.time{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
header{
	height : 60px;
	background: url("../image/storaipu.jpg");
}
header-img{
	display : inline-block;
	float : left;
}

.num{
	display : inline-block;
	float : right;
	color : black;
}
.left{
	display : inline;
	margin-top : 24px;
	height : 70%;
	float : left;
	width : 15%;
	color : black;
	text-align : center;
}
.center{
	width : 75%;
	margin : 0 auto;
	margin-top : 15px;
	padding-right : 105px;
}
.time{
	font-size : 50px;
	border-bottom : 3px solid gray;
}
table.t1{
	margin : 0 auto;
	text-align : center;
	margin-bottom : 20px;
}
table.t2{
	margin : 0 auto;
	text-align : center;
}
a{
  margin: 10px 0;
  display: block;
  color: #ff7c5c;/*文字色*/
  background: #FAFAFA;
  text-decoration: none;
  font-weight: bold;
  border-radius: 3px;
  text-align:center;
  width : 78%;
  border-left: solid 6px #ff7c5c;/*左線*/
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.29);
}
a:before {
  content: "";
  display: inline-block;
  width : 65px;
  height: 65px;
  margin: -3px 0px 0 0;
  background: url("../image/receipt.jpg") no-repeat;
  background-size: cover;
  vertical-align: middle;
}
a:hover {
    background: #6FB83F;
}
a:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}
.btn:before{
	background: url("../image/daiya.png") no-repeat;
	background-size: cover;
}
a.order:before{
	background: url("../image/order.png") no-repeat;
	background-size: cover;
}
a.regist:before{
	background: url("../image/regist.jpg") no-repeat;
	background-size:auto 60px;
}
#green{
	border-left: solid 6px #33CCFF;
}
#green:before{
	background: url("../image/human.png") no-repeat;
	background-size: cover;
}
#blue{
	border-left: solid 6px #33CCFF;
}
#blue:before{
	background: url("../image/calendar.jpg") no-repeat;
	background-size: cover;
}
#delete:before{
	background: url("../image/trash.jpg") no-repeat;
	background-size: cover;
}
@media screen and (min-width: 968px){
  a{
    padding: 0.5em 2em;
    margin: 10px auto;
    font-size:22px;
    display:inline-block;
    }
  a:before {
        margin: -3px 10px 0 0;
    }
  .test{
  	width : 500px;
  }
}
table.t1 td{
	width : 500px;
}
table.t2 td{
	width : 500px;
}
.t2{
	margin-top : 30px;
	padding-top : 10px;
	border-top : 1px solid lightgray;
}
.osirase{
	padding : 0px 15px;
	background : #5d627b;
	border : none;
	color : white;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.test{
	width : 60%;
	margin : 0 auto;
	margin-top : 30px;
}
.test2{
    padding: 0.5em 1em;
    margin 0 auto;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
.test2 span {
    margin: 0; 
    padding: 0;
}
img{
	background-size:auto 60px;
}