<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/css/orderConfirm.css" rel="stylesheet" />
<title>発注確認</title>
</head>
<body>

<header>
	<img src="../image/7logo.jpg" height = "60px">
	
</header>

<div class = "centerPare">
<div class = "center">

	<h1>H1</h1>
	
	<table>
			<tr>
				<td><p th:text="${id}"></p></td>
			</tr>
	</table>
	<table>
			<tr>
				<td>
				</td>
				
			</tr>
	</table>		
	<table>	
			
			<tr>
				<td></td>
				<td></td>
			</tr>
		
	</table>
</div>
</div>

<form action="/konbini/" method = "post" class = "bBtn">
	<input type="submit" value="トップに戻る" class = "backBtn">
</form>

</body>
</html>

