<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link href="/css/orderConfirm.css" rel="stylesheet" />
<title>発注確認</title>
</head>
<body>

<header>
	<img src="../image/7logo.jpg" height = "60px">
	
</header>

<div class = "centerPare">
<div class = "center">

	<h1 th:text="|発注日：${date}"></h1>
	
	<table>
			<tr th:each="name : ${GN}">
				<td th:text="${name}"></td>
			</tr>
	</table>
	<table>
			<tr th:each="image : ${GI}">
				<td>
					<img th:src="@{../image/{image} (image=${image})}" width = "30">
				</td>
				
			</tr>
	</table>		
	<table>	
			
			<tr th:each="num : ${ON}">
				<td><span>×&emsp;&emsp;</span></td>
				<td th:text="${num}"></td>
			</tr>
		
	</table>
</div>
</div>

<form action="/konbini/" method = "post" class = "bBtn">
	<input type="submit" value="トップに戻る" class = "backBtn">
</form>

</body>
</html>

